@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">
    <div class="row-fluid">
	<legend>@Messages("tmpl.addressmap.title")</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<div id="address-map" fade-it dynamic-resize-ratio="0.75" location-with-google-map></div>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<legend>@Messages("tmpl.addressmap.address.title")</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	PSE Science Park, PSE-D, 1015 Lausanne
    </div> <!-- row-fluid -->
</div>


