@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">

    <div ng-repeat="sess in sessions">
	<div class="well">
	    <button type="button" class="close" ng-show="sess.type != 'new'" ng-click="destroy(sess.data)">&times;</button>

	    <div class="row-fluid" ng-show="sess.type == 'new'">
		<legend>@Messages("tmpl.admineditsessions.addnew")</legend>
	    </div>

	    <div class="row-fluid">
		<form class="form-horizontal" name="formEdit">

		    <!-- date -->
		    <div class="control-group" ng-class="{error: formEdit.date.$invalid}">
			<label class="control-label" for="date">@Messages("tmpl.admineditsessions.form.date")</label>
			<div class="controls">
			    <input type="text" name="date" placeholder="@Messages("tmpl.admineditsessions.form.date")" required ng-model="sess.data.date" ui-date="{dateFormat: 'dd MM yy'}"/>
			    <span class="help-inline" ng-show="formEdit.date.$error.required">@Messages("tmpl.admineditsessions.form.date.help")</span>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		    <!-- title -->
		    <div class="control-group" ng-class="{error: formEdit.title.$invalid}">
			<label class="control-label" for="title">@Messages("tmpl.admineditsessions.form.title")</label>
			<div class="controls">
			    <input type="text" name="title" placeholder="@Messages("tmpl.admineditsessions.form.title")" required ng-model="sess.data.title">
			    <span class="help-inline" ng-show="formEdit.title.$error.required">@Messages("tmpl.admineditsessions.form.title.help")</span>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		    <!-- speaker -->
		    <div class="control-group" ng-class="{warning: sess.data.speaker == ''}">
			<label class="control-label" for="speaker">@Messages("tmpl.admineditsessions.form.speaker")</label>
			<div class="controls">
			    <input type="text" name="speaker" placeholder="@Messages("tmpl.admineditsessions.form.speaker")" ng-model="sess.data.speaker">
			    <span class="help-inline" ng-show="sess.data.speaker == ''">@Messages("tmpl.admineditsessions.form.speaker.help")</span>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		    <!-- content -->
		    <div class="control-group" ng-class="{error: formEdit.content.$invalid}">
			<label class="control-label" for="content">@Messages("tmpl.admineditsessions.form.content")</label>
			<div class="controls">
			    <textarea name="content" rows="10" cols="60" placeholder="@Messages("tmpl.admineditsessions.form.content")" required ng-model="sess.data.content"></textarea>
			    <span class="help-inline" ng-show="formEdit.content.$error.required">@Messages("tmpl.admineditsessions.form.content.help")</span>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		    <!-- actions -->
		    <div class="control-group">
			<div class="controls">
			    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid"  ng-click="create()" ng-show="sess.type == 'new'">@Messages("tmpl.admineditsessions.form.button.add")</button>
			    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid"  ng-click="update(sess.data)" ng-show="sess.type == 'existing'">@Messages("tmpl.admineditsessions.form.button.update")</button>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		    <!-- language -->
		    <div class="control-group warning">
			<div class="controls">
			    <span class="help-inline">@Messages("tmpl.admineditsessions.form.language.warning")</span>
			</div> <!-- controls -->
		    </div> <!-- control-group -->

		</form>
	    </div> <!-- row-fluid -->
	</div> <!-- well -->
    </div> <!-- ng-repeat sessions -->
</div>
