@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">
    <div class="row-fluid">
	<legend>EPFL</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<img src="@routes.Assets.at("images/logo_epfl.jpg")" alt="EPFL Logo"/>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<legend>Contact</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	EPFL</br>
	CE 3 316 (Centre Est), Station 1</br>
	CH-1015 Lausanne</br>
	Switzerland</br>
	</br>
	Phone: +41 21 693 11 11</br>
	accueil [at] epfl.ch</br>	
	</br>
	<a href="http://www.epfl.ch">www.epfl.ch</a>
    </div> <!-- row-fluid -->
</div>
