@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500" class="well">
    <div class="row-fluid">
	<legend>@Messages("tmpl.admineditintro.title")</legend>
    </div> <!-- row-fluid -->


    <div class="row-fluid">
	
	<form class="form-horizontal" name="formEdit" ng-controller="EditIntroductionCtrl">

	    <!-- title -->
	    <div class="control-group" ng-class="{error: formEdit.title.$invalid}">
		<label class="control-label" for="title">@Messages("tmpl.admineditintro.form.title")</label>
		<div class="controls">
		    <input type="text" name="title" placeholder="Title" required ng-model="intro.title">
		    <span class="help-inline" ng-show="formEdit.title.$error.required">@Messages("tmpl.admineditintro.form.title.helpinline")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- content -->
	    <div class="control-group" ng-class="{error: formEdit.content.$invalid}">
		<label class="control-label" for="content">@Messages("tmpl.admineditintro.form.content")</label>
		<div class="controls">
		    <textarea name="content" rows="10" cols="60" placeholder="Introduction here" required ng-model="intro.content"></textarea>
		    <span class="help-inline" ng-show="formEdit.content.$error.required">@Messages("tmpl.admineditintro.form.content.helpinline")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- actions -->
	    <div class="control-group">
		<div class="controls">
		    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid"  ng-click="save()">@Messages("tmpl.admineditintro.form.save")</button>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- language -->
	    <div class="control-group warning">
		<div class="controls">
		    <span class="help-inline">@Messages("tmpl.admineditintro.form.language.warning")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	</form>

    </div> <!-- row-fluid -->
</div>
