@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500" class="well">
    <div class="row-fluid">
	<legend>@Messages("tmpl.admineditintro.title")</legend>
    </div> <!-- row-fluid -->


    <div class="row-fluid">
	
	<form class="form-horizontal" name="formEdit">

	    <!-- old password -->
	    <div class="control-group" ng-class="{error: formEdit.oldPassword.$invalid}">
		<label class="control-label" for="oldPassword">@Messages("tmpl.admineditpwd.form.oldpassword")</label>
		<div class="controls">
		    <input type="text" name="oldPassword" placeholder="@Messages("tmpl.admineditpwd.form.oldpassword")" required ng-model="oldPassword">
		    <span class="help-inline" ng-show="formEdit.oldPassword.$error.required">@Messages("tmpl.admineditpwd.form.oldpassword.help")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- new password -->
	    <div class="control-group" ng-class="{error: formEdit.newPassword.$invalid}">
		<label class="control-label" for="newPassword">@Messages("tmpl.admineditpwd.form.newpassword")</label>
		<div class="controls">
		    <input type="text" name="newPassword" placeholder="@Messages("tmpl.admineditpwd.form.newpassword")" required ng-model="newPassword">
		    <span class="help-inline" ng-show="formEdit.newPassword.$error.required">@Messages("tmpl.admineditpwd.form.newpassword.help")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- new password bis -->
	    <div class="control-group" ng-class="{error: formEdit.newPasswordBis.$invalid || newPassword != newPasswordBis}">
		<label class="control-label" for="newPasswordBis">@Messages("tmpl.admineditpwd.form.newpasswordbis")</label>
		<div class="controls">
		    <input type="text" name="newPasswordBis" placeholder="@Messages("tmpl.admineditpwd.form.newpasswordbis")" required ng-model="newPasswordBis">
		    <span class="help-inline" ng-show="formEdit.newPasswordBis.$error.required">@Messages("tmpl.admineditpwd.form.newpasswordbis.help")</span>
		    <span class="help-inline" ng-show="!formEdit.newPasswordBis.$error.required && newPassword != newPasswordBis">@Messages("tmpl.admineditpwd.form.newpasswordbis.dontmatch.help")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- actions -->
	    <div class="control-group">
		<div class="controls">
		    <button type="submit" class="btn btn-primary" ng-disabled="formEdit.$invalid"  ng-click="save()">@Messages("tmpl.admineditpwd.form.save")</button>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	</form>

    </div> <!-- row-fluid -->
</div>
