@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500" class="well">
    <div class="row-fluid">
	<legend>@Messages("tmpl.admineditannounce.title")</legend>
    </div> <!-- row-fluid -->


    <div class="row-fluid">
	
	<form class="form-horizontal" name="formEdit">

	    <!-- title -->
	    <div class="control-group" ng-class="{warning: announce.title == ''}">
		<label class="control-label" for="title">@Messages("tmpl.admineditannounce.form.title")</label>
		<div class="controls">
		    <input type="text" name="title" placeholder="Title" ng-model="announce.title">
		    <span class="help-inline" ng-show="announce.title == ''">@Messages("tmpl.admineditannounce.form.title.helpinline")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- content -->
	    <div class="control-group" ng-class="{warning: announce.content == ''}">
		<label class="control-label" for="content">@Messages("tmpl.admineditannounce.form.content")</label>
		<div class="controls">
		    <textarea name="content" rows="10" cols="60" placeholder="Great announcement here" ng-model="announce.content"></textarea>
		    <span class="help-inline" ng-show="announce.content == ''">@Messages("tmpl.admineditannounce.form.content.helpinline")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- actions -->
	    <div class="control-group">
		<div class="controls">
		    <button type="submit" class="btn btn-primary" ng-click="save()">@Messages("tmpl.admineditannounce.form.save")</button>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	    <!-- language -->
	    <div class="control-group warning">
		<div class="controls">
		    <span class="help-inline">@Messages("tmpl.admineditannounce.form.language.warning")</span>
		</div> <!-- controls -->
	    </div> <!-- control-group -->

	</form>

    </div> <!-- row-fluid -->
</div>
