@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">
    <div class="row-fluid" ng-controller="IntroductionCtrl">

	<div class="well span12">
	    <legend ng-bind="intro.title"></legend>
	    <div ng-bind-html-unsafe="intro.content"></div>
	</div> <!-- well -->

    </div> <!-- row-fluid -->

    <div class="row-fluid" ng-controller="AnnouncementCtrl">

	<div class="well span12" ng-show="announce.title">
	    <legend ng-bind="announce.title"></legend>
	    <div ng-bind-html-unsafe="announce.content"></div>
	</div> <!-- well -->

    </div> <!-- row-fluid -->
</div>
