@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">

    <div ng-repeat="sess in sessions">

	<div id="{{sess.uuid}}" class="well">
	    <div class="row-fluid">
		<span class="pull-left">
		    <div><h3>{{sess.title}}</h3></div>
		    <div ng-show="sess.speaker != ''">with <strong>{{sess.speaker}}</strong></div>
		</span>
		<span class="pull-right"><h3><small>{{sess.date | date:'fullDate'}}</small></h3></span>
	    </div> <!-- row-fluid -->

	    <div class="row-fluid" style="padding-top:10px">
		<div class="well well-small" ng-bind-html-unsafe="sess.content"></div>
	    </div> <!-- row-fluid -->
	</div> <!-- well -->

    </div> <!-- ng-repeat -->

</div> <!-- SessionsCtrl -->
