@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500">
    <div class="row-fluid">
	<legend>Speakers</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">

	<ul class="thumbnails">
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	</ul>

    </div> <!-- row-fluid -->

    <div class="row-fluid">

	<ul class="thumbnails">
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	    <li class="span2">
		<div class="thumbail">
		    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" alt="">
		    <h5>Audrey Neveu</h5>
		</div>
	    </li>
	</ul>

    </div> <!-- row-fluid -->

    <div class="row-fluid">

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_audrey_neveu.gif")" class="img-circle">
	</div>

    </div> <!-- row-fluid -->

    <div class="row-fluid">

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_mario_fusco.jpeg")" class="img-circle">
	</div>

    </div> <!-- row-fluid -->
    <div class="row-fluid">

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_sebastien_andrivet.jpg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_sebastien_andrivet.jpg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_sebastien_andrivet.jpg")" class="img-circle">
	</div>

	<div class="span2">
	    <img src="@routes.Assets.at("images/tmp_speakers/speaker_sebastien_andrivet.jpg")" class="img-circle">
	</div>

    </div> <!-- row-fluid -->

</div>
