@()(implicit lang: Lang)

@import play.api.i18n.Messages

<div fade-in="500" class="well">
    <div class="row-fluid">
	<legend>Crossing-Tech</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<img src="@routes.Assets.at("images/logo_crossing-tech.jpg")" alt="Crossing-Tech Logo"/>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	<legend>@Messages("tmpl.sponsors.contact")</legend>
    </div> <!-- row-fluid -->

    <div class="row-fluid">
	Crossing-Tech SA</br>
	PSE Science Park</br>
	PSE-D</br>
	1015 Lausanne</br>
	Switzerland</br>
	</br>
	@Messages("tmpl.sponsors.phone"): +41 (0) 21 693 85 30</br>
	@Messages("tmpl.sponsors.email"): contact [at] crossing-tech.com</br>
	</br>
	<a href="http://www.crossing-tech.com">www.crossing-tech.com</a>
    </div> <!-- row-fluid -->
</div>
