@()(implicit user: User, lang: Lang)

@import play.api.i18n.Messages

@main(ngAppModule = Some("address"), extraJs = "gmap3/gmap3.js" :: "address.js" :: Nil, extraCss = "address.css" :: Nil,
externalJs = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDb4NCzXMokpVNhBOhu0mlje_ir61NkeqA&sensor=false" :: Nil)(Messages("address.title")) {

<div class="container">

    <div class="row-fluid">

	<div class="span2">
	    <ul class="nav nav-tabs nav-stacked">
		<li><a href="#/map">Map</a></li>
		<li><a href="#/contact">Contact</a></li>
	    </ul> <!-- nav-stacked -->
	</div> <!-- span2 -->

	<div class="span10 well" ng-view>
	</div> <!-- span10 -->

    </div> <!-- row-fluid -->

</div> <!-- container -->

}
