@()(implicit user: User, lang: Lang)


@main(ngAppModule = Some("admin"), extraJs = "admin.js" :: Nil, extraCss = "admin.css" :: Nil)(Messages("admin.title")) {

<div class="container">

    <div class="row-fluid">

	<div class="span2">
	    <ul class="nav nav-tabs nav-stacked">
		<li><a href="#/edit-introduction">@Messages("admin.menu.edit.intro")</a></li>
		<li><a href="#/edit-announcement">@Messages("admin.menu.edit.announce")</a></li>
		<li><a href="#/edit-sessions">@Messages("admin.menu.edit.sessions")</a></li>
	    </ul> <!-- nav-stacked -->
	</div> <!-- span2 -->

	<div class="span10 well" ng-controller="ViewLoadingCtrl">
	    <div ng-show="showLoading" style="text-align: center">
		<img src="@routes.Assets.at("images/loading.gif")" alt="Loading...">
	    </div>
	    <div ng-view></div>
	</div> <!-- span10 -->

    </div> <!-- row-fluid -->

</div> <!-- container -->

}
