@(implicit user: User, lang: Lang)

<div class="container">

    <legend></legend>

    <div class="row-fluid">
	<div class="pull-left" ng-controller="OtherClientsCtrl">
	    <span style="font-size:75%;" ng-show="userAgentInfo.family != ''">
		@Messages("footer.otherclients.visitor.use")&nbsp;
		<span ng-show="userAgentInfo.family == 'Firefox'" class=""><img src="@routes.Assets.at("images/browser_firefox.gif")" alt="Firefox"></span>
		<span ng-show="userAgentInfo.family == 'Safari'" class=""><img src="@routes.Assets.at("images/browser_safari.gif")" alt="Safari"></span>
		<span ng-show="userAgentInfo.family == 'Chrome'" class=""><img src="@routes.Assets.at("images/browser_chrome.gif")" alt="Chrome"></span>
		<span ng-show="userAgentInfo.family == 'Opera'" class=""><img src="@routes.Assets.at("images/browser_opera.gif")" alt="Opera"></span>
		<span ng-show="userAgentInfo.family == 'IE'" class=""><img src="@routes.Assets.at("images/browser_ie.gif")" alt="IE"></span>
		<span ng-show="userAgentInfo.family != 'Firefox' && userAgentInfo.family != 'Safari' && userAgentInfo.family != 'Chrome' && userAgentInfo.family != 'Opera' && userAgentInfo.family != 'IE'" class="">{{userAgentInfo.family}}</span>
		<span ng-show="userAgentInfo.version != ''">{{userAgentInfo.version}}</span>
		<span ng-show="userAgentInfo.osName != ''">@{Messages("footer.otherclients.visitor.on")} {{userAgentInfo.osName}}</span>
	    </span>
	</div>
	
	<div class="pull-right">
	    <a href="@routes.Application.lang("fr")"><img src="@routes.Assets.at("images/flag_fr_24.png")" alt="French"></a>
	    <a href="@routes.Application.lang("en")"><img src="@routes.Assets.at("images/flag_gb_24.png")" alt="English"></a>
	</div>
    </div>

    <div class="row-fluid">
	<div class="pull-left" ng-controller="IndividualMessageCtrl">
	    <span style="font-size:75%;" ng-show="message != ''">
		<span>@{Messages("footer.individualmessage.tmp")} {{message}}</span>
	    </span>
	</div>
    </div>
</div>
