@()(implicit user: User, lang: Lang)

@import play.api.i18n.Messages

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

	<div class="container">
	    <a class="brand" href="#/index">@Messages("menu.home")</a>

	    <ul class="nav">
		<li><a href="#/meetings/agenda">@Messages("menu.meetings")</a></li>
		<li><a href="#/address/map">@Messages("menu.address")</a></li>
		<li><a href="#/sponsors/crossing-tech">@Messages("menu.sponsors")</a></li>
		@if(user.group == Group.God()) {
		  <li><a href="#/admin/edit-introduction"><i class="icon-asterisk"></i></a></li>
		}
	    </ul>

	    <div class="nav-collapse collapse">
		<ul class="nav pull-right">
		    @if(user.group == Group.Anonymous()) {
		    <li><a href="#" data-toggle="collapse" data-target="#collapseSubMenu"><i class="icon-chevron-up"></i></a></li>
		    } else {
		    <li><a href="@routes.Application.logout"><i class="icon-remove-circle"></i></a></li>
		    }
		</ul>
	    </div> <!-- nav-collapse -->
	</div> <!-- container -->

	<!-- sub menu within accordion -->
	<div class="container">
	    <div class="accordion no-margin" id="subMenu">
		<div class="accordion-group no-margin">
		    <div class="accordion-body collapse" id="collapseSubMenu" ng-controller="LoginCtrl">

			<form class="navbar-form adjust-content-margin pull-right" novalidate>
			    <span ng-show="authenticated" class="text-success">@Messages("menu.auth.success")</span>
			    <span ng-show="errorAuthenticate" class="text-error">@Messages("menu.auth.error")</span>
			    <input type="email" class="input-small" id="inputUsername" placeholder="Email" ng-model="user.email">
			    <input type="password" class="input-small" id="inputPassword" placeholder="Password" ng-model="user.password">
			    <button class="btn" ng-click="authenticate(user)">@Messages("menu.auth.button.signin")</button>
			</form>

		    </div> <!-- accordion-body -->
		</div> <!-- accordion-group -->
	    </div> <!-- accordion -->
	</div> <!-- container -->

    </div> <!-- navbar-inner -->

</div> <!-- navbar -->

<!-- GeneralMessage alerts -->
<div class="general-message" ng-controller="GeneralMessageCtrl">
    <div class="alert alert-block" ng-class="message.type" ng-show="isOpen">
	<i class="icon-ok"></i><strong style="padding-left: 10px">{{message.content}}</strong>
    </div> <!-- alert -->
</div> <!-- GeneralMessage -->
