@()(implicit user: User, lang: Lang)

@import play.api.i18n.Messages

<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

	<div class="container">

	    <a class="brand" href="@routes.Application.index">@Messages("menu.home")</a>

	    <ul class="nav">
		<li><a href="@routes.Application.meetings">@Messages("menu.meetings")</a></li>
		<li><a href="@routes.Application.address">@Messages("menu.address")</a></li>
		<li><a href="@routes.Application.sponsors">@Messages("menu.sponsors")</a></li>
		@if(user.group == Group.God) {
		  <li><a href="@routes.Application.admin">@Messages("menu.sponsors")</a></li>
		}
	    </ul>

	    <div class="nav-collapse collapse">
		<ul class="nav pull-right">
		    @if(user.group == Group.Anonymous()) {
		    <li><a href="#" data-toggle="collapse" data-target="#collapseSubMenu"><i class="icon-chevron-up"></i></a></li>
		    } else {
		    <li><a href="@routes.Application.logout"><i class="icon-remove-circle"></i></a></li>
		    }
		</ul>
	    </div> <!-- nav-collapse -->

	</div> <!-- container -->

	<!-- sub menu within accordion -->
	<div class="container">
	    <div class="accordion no-margin" id="subMenu">
		<div class="accordion-group no-margin">
		    <div class="accordion-body collapse" id="collapseSubMenu" ng-controller="LoginCtrl">

			<form class="navbar-form adjust-content-margin pull-right" novalidate>
			    <span ng-show="authenticated" class="text-success">Authentication success</span>
			    <span ng-show="errorAuthenticate" class="text-error">Error in email and/or password</span>
			    <input type="email" class="input-small" id="inputUsername" placeholder="Email" ng-model="user.email">
			    <input type="password" class="input-small" id="inputPassword" placeholder="Password" ng-model="user.password">
			    <button class="btn" ng-click="authenticate(user)">Sign in</button>
			</form>

		    </div> <!-- accordion-body -->
		</div> <!-- accordion-group -->
	    </div> <!-- accordion -->
	</div> <!-- container -->

    </div> <!-- navbar-inner -->

</div> <!-- navbar -->
