@()(implicit user: User, lang: Lang)


@main(ngAppModule = Some("sponsors"), extraJs = "sponsors.js" :: Nil, extraCss = "sponsors.css" :: Nil)(Messages("sponsors.title")) {

<div class="container">

    <div class="row-fluid">

	<div class="span2">
	    <ul class="nav nav-tabs nav-stacked">
		<li><a href="#/crossing-tech">@Messages("sponsors.menu.crossingtech")</a></li>
		<li><a href="#/epfl">@Messages("sponsors.menu.epfl")</a></li>
	    </ul> <!-- nav-stacked -->
	</div> <!-- span2 -->

	<div class="span10 well" ng-controller="ViewLoadingCtrl">
	    <div ng-show="showLoading" style="text-align: center">
		<img src="@routes.Assets.at("images/loading.gif")" alt="Loading...">
	    </div>
	    <div ng-view></div>
	</div> <!-- span10 -->

    </div> <!-- row-fluid -->

</div> <!-- container -->

}
